.form {
   margin-left: 300px;
}
.button {
    margin-left: 10px;
    background-color: aqua;
    border: solid 2px blue;
    border-radius: 50px;
    min-height: 40px;
    min-width: 200px;
}

.input {
    border: solid 2px blue;
    border-radius: 50px;
    min-height: 40px;
    min-width: 400px;
}